@import "../../../variables";

.paginationWrapper {
  //overflow: auto;

  .selectedPage {
    font-weight: bold;

    &:hover {
      background: none !important;
    }
  }

  .paginator__pageItem {
    padding: 5px;
    margin: 7px;
    border: 1px solid $darkGrayColor;
    cursor: pointer;

    &:hover {
      background: $lightGrayVioletColor;
    }
  }
}