@import "../../assets/styles/variables";

.usersContainer {
  padding: 30px;
  display: grid;
  grid-gap: 20px;

  .userWrapper {
    padding: 15px 0;
    border-bottom: 1px solid $lightGrayColorBg;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;

    a {
      display: grid;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0 none;
    }

    .userInfoWrapper {
      display: grid;
      grid-template-columns: 10fr 2fr;
      grid-gap: 20px;
    }

    .userInfo {
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-gap: 10px;

      .userNameWrap {
        color: #28282a;
        font-weight: bold;

      }

      .userStatus {
        color: #5F5F5F;
      }

    }
  }
}

.profileImg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}