@import "../../variables";

.usersContainer {
  padding: 30px;
  display: grid;
  grid-gap: 20px;

  .userWrapper {
    padding: 15px 0;
    border-bottom: 1px solid $lightGrayColor;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;

    a {
      display: grid;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0 none;
    }

    .userInfoWrapper {
      display: grid;
      grid-template-columns: 10fr 2fr;
      grid-gap: 20px;
    }

    .userInfo {
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-gap: 10px;

      .userName {
        color: #28282a;
        font-weight: bold;

      }

      .userStatus {
        // margin-top: 10px;
        color: #5F5F5F;
      }

      .userButtonWrapper {
        button {
          padding: 10px;
          border: 0 none;
          border-radius: 5px;
          color: white;
          cursor: pointer;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          background-size: 200% auto;
          background-image: linear-gradient(to right, #3827B0 0%, #C19AE0 51%, #C44A8A 100%);

          &:disabled {
            background: #c4c4c4;
          }

          &:not(&:disabled):hover {
            background-position: right center;
          }
        }
      }
    }
  }
}

.profileImg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}