@import "../../assets/styles/variables";
@import "../../assets/styles/fonts";

.header {
  display: grid;
  grid-gap: 30px;
  align-self: start;
  width: 100%;

  .header__logo {
    width: 90%;
    max-width: 90px;
    justify-self: center;
  }

  .profileInfoWrap {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;

    align-items: center;

    .profileFullName {
      font-family: AssistantBold, sans-serif;
    }
  }

}