@import "./../../variables";

.header {
  display: grid;
  grid-gap: 50px;
  align-self: start;
  width: 100%;

  .header__logo {
    width: 90%;
    max-width: 100px;
    justify-self: center;
  }

  .profileInfoWrap {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;

    align-items: center;

    .profileFullName {
      .profileFullNameTitle {
        color: $meddleGrayColor;
      }
    }
  }

}