@import "./../../variables";

.nav {
  grid-area: n;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  .item{
    padding: 0 0 10px 0;
    text-decoration: none;
    a{
      color:$darkGrayColor;
      text-decoration: none;
    }
    a.active{
      color: $violetColor;
    }
  }
}