@import "./../../variables";

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  display: grid;
  height: 100vh;
  padding: 30px 20px;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  background-color: white;
  box-shadow: 0px 0px 10px 0px $lightVioletColor05;

  .friendsBlock {
    .heading {
      color: $darkGrayColor;
      font-family: AXISExtraBold, sans-serif;
      font-size: 18px;
    }

    .friendsList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;

      .friendItem {
        display: grid;
        grid-template-rows: 1fr minmax(10px, auto);
        text-align: center;
        grid-gap: 10px;

        .profileImage {
          grid-row-start: 1;
          justify-self: center;
        }

        .name {

        }
      }
    }
  }
}

.navWrapper {
  padding-top: 30px;
  display: grid;
  grid-gap: 20px;
  .navTitle {
    color: $meddleGrayColor;
  }

  .nav {
    .nav__item {
      padding: 0 0 10px 0;
      text-decoration: none;
      padding: 10px 0;

      a {
        color: $mediumGrayColor;
        text-decoration: none;
        display: inline-grid;
        grid-gap: 10px;
        align-items: center;
        grid-template-columns: auto 1fr;;
      }

      a.active {
        color: $violetColor;
      }

      .nav__itemIcon {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: contain;
      }
    }
  }
}

.logoutBlock {
  align-self: end;

  a {
    color: $mediumGrayColor;
    text-decoration: none;
    display: inline-grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: auto 1fr;

    .logoutBlock__icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-size: contain;
    }
  }
}