$lightGrayColor: rgb(238,237,249);

$mediumGrayColor: rgb(140,140,140);
$mediumGrayColor05: rgba(140,140,140, 0.5);

$meddleGrayColor: rgb(83,83,83);
$darkGrayColor : rgb(40,40,42);
$violetColor:rgb(146,43,195);