$lightGrayColorBg: rgb(242, 245, 248);
$lightVioletColor: rgb(199, 190, 209);

$lightGrayColor: rgb(211, 213, 216); //#D3D5D8
$lightGrayColor05: rgba(211, 213, 216, 0.5);

$mediumGrayColor: rgb(140, 140, 140); //#8C8C8C
$mediumGrayColor05: rgba(140, 140, 140, 0.5);

$middleGrayColor: rgb(83, 83, 83); //#535353
$middleGrayColor2: rgb(190, 190, 190); //#BEBEBE

$darkGrayColor: rgb(40, 40, 42);
$greenColor: rgb(95, 207, 140); //#5FCF8C
$greenColor05: rgba(95, 207, 140, 0.5);
$greenColor07: rgba(95, 207, 140, 0.7);

$violetColor: #7D72F4;


//
$q1: linear-gradient(to right, #79BA55 0%, #FF8235 100%);